# Exclude cache files and others
.*
__*cache*

*.egg.*

# Exclude build output and content of the virtual environment
dbcicd
*dist*

# Exclude test coverage files
*cov*
*junit*

# exclude others but .gitignore
!.gitignore